body {
background-color: #E5E7E9;
padding: 20px;
margin: 10px auto 10px auto;
text-align: left;
font-family: sans-serif;
width: 900px;
}

h1 {
background-color: #AED6F1;
font-family: sans-serif; 
color: #34495E; 
}

