body {
background-color: #E5E7E9;
font-family: sans-serif;
}

h1 {
background-color: #5499C7;
font-family: sans-serif; 
color: #8E44AD; 
text-align: center; 
}

h4 {
 color: #34495E
 text-shadow: 1px 1px 0px #000000;
}

div {
width: 500px;
padding: 10px;
}
