body {
background-color: #E5E7E9;
width: 900px;
margin: 10px auto 10px auto;
text-align: left;
font-family: sans-serif;
}

h1 {
background-color: #34495E;
font-family: sans-serif; 
color: #FDFEFE; 
}

h4 {
background-color: #AED6F1  
}

